In [13]:
import pandas as pd

Datasets pulled and customised from the World Bank's databank: https://databank.worldbank.org/reports.aspx?source=2&series=FP.CPI.TOTL.ZG&country=#

Data.csv: Pulled from databank with multiple economic indicators, renamed, and then filtered to contain entries for "Getting electricity: Cost", for select countries.

Inflation_data.csv: Pulled from databank to contain only "Inflation, consumer prices (annual %)" field, renamed and then filtered for selct countries.

In [14]:
data = pd.read_csv('data.csv')
data

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AFG,Afghanistan,417,Getting electricity,Rank (DB19),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,163.0,168.0,NaN,NaN
1,AFG,Afghanistan,419,Getting electricity: Procedures,number,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,NaN
2,AFG,Afghanistan,421,Getting electricity: Cost,% of income per capita,NaN,NaN,NaN,NaN,NaN,...,2917.8,2550.7,2368.5,2084.0,2124.0,2274.7,2426.7,2448.3,2546.4,NaN
3,AFG,Afghanistan,423,Trading across borders,Rank (DB19),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,175.0,177.0,NaN,NaN
4,AFG,Afghanistan,433,Paying taxes,Rank (DB19),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,176.0,177.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18145,ZWE,Zimbabwe,42629,Starting a business,Rank (DB20),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167.0,NaN
18146,ZWE,Zimbabwe,42630,Dealing with construction permits,Rank,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.0,NaN
18147,ZWE,Zimbabwe,42631,Registering property,Rank (DB20),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.0,NaN
18148,ZWE,Zimbabwe,42632,Enforcing contracts,Rank (DB20),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169.0,NaN
18149,ZWE,Zimbabwe,42633,Resolving insolvency,Rank (DB20),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142.0,NaN

In [15]:
data['Indicator'].unique()

array(['Getting electricity', 'Getting electricity: Procedures',
       'Getting electricity: Cost', 'Trading across borders',
       'Paying taxes', 'Paying taxes: Payments',
       'Paying taxes: Total tax rate', 'Paying taxes: Profit tax',
       'Paying taxes: Labor tax and contributions',
       'Paying taxes: Other taxes', 'Getting credit',
       'Getting credit: Credit registry coverage',
       'Getting credit: Credit bureau coverage',
       'Protecting minority investors',
       'Protecting minority investors: Extent of disclosure index',
       'Protecting minority investors: Extent of director liability index',
       'Starting a business', 'Starting a business: Minimum capital',
       'Dealing with construction permits: Procedures',
       'Dealing with construction permits: Time',
       'Dealing with construction permits: Cost', 'Registering property',
       'Registering property: Procedures', 'Registering property: Cost',
       'Enforcing contracts', 'Enforcing contracts: Cost',
       'Resolving insolvency', 'Resolving insolvency: Recovery rate',
       'Resolving insolvency: Cost', 'Paying taxes: Time',
       'Starting a business: Cost - Men',
       'Starting a business: Cost - Women',
       'Starting a business: Procedures - Women',
       'Starting a business: Time - Women',
       'Trading across borders : Cost to import',
       'Trading across borders : Time to import',
       'Getting credit: Strength of legal rights index',
       'Resolving insolvency: Outcome',
       'Protecting minority investors: Ease of shareholder suits index',
       'Trading across borders : Documents to export',
       'Trading across borders : Documents to import',
       'Trading across borders : Cost to export',
       'Trading across borders : Time to export',
       'Dealing with construction permits: Building quality control index',
       'Dealing with construction permits: Quality of building regulations index',
       'Dealing with construction permits: Quality control before construction index',
       'Dealing with construction permits: Quality control during construction index',
       'Dealing with construction permits: Quality control after construction index',
       'Dealing with construction permits: Liability and insurance regimes index',
       'Dealing with construction permits: Professional certifications index',
       'Getting electricity: Reliability of supply and transparency of tariff index',
       'Getting electricity: Total duration and frequency of outages per customer a year',
       'Getting electricity: Mechanisms for monitoring outages',
       'Getting electricity: Mechanisms for restoring service',
       'Getting electricity: Regulatory monitoring',
       'Getting electricity: Financial deterrents aimed at limiting outages',
       'Getting electricity: Communication of tariffs and tariff changes',
       'Getting electricity: Price of electricity',
       'Registering property: Quality of land administration index',
       'Registering property: Reliability of infrastructure index',
       'Registering property: Transparency of information index',
       'Registering property: Geographic coverage index',
       'Registering property: Land dispute resolution index',
       'Registering property: Equal access to property rights index',
       'Protecting minority investors: Strength of investor protection index',
       'Protecting minority investors: Extent of shareholder rights index',
       'Protecting minority investors: Extent of ownership and control index',
       'Protecting minority investors: Extent of corporate transparency index',
       'Protecting minority investors: Strength of minority investor protection index',
       'Paying taxes: Postfiling index',
       'Resolving insolvency: Strength of insolvency framework index',
       'Resolving insolvency: Commencement of proceedings index',
       "Resolving insolvency: Management of debtor's assets index",
       'Resolving insolvency: Reorganization proceedings index',
       'Resolving insolvency: Creditor participation index',
       'Enforcing contracts: Quality of judicial processes index',
       'Trading across borders : Time to export: Border compliance',
       'Trading across borders : Time to export: Documentary compliance',
       'Trading across borders : Cost to export: Border compliance',
       'Trading across borders : Cost to export: Documentary compliance',
       'Trading across borders : Time to import: Border compliance',
       'Trading across borders : Time to import: Documentary compliance',
       'Trading across borders : Cost to import: Border compliance',
       'Trading across borders : Cost to import: Documentary compliance',
       'Dealing with construction permits'], dtype=object)

In [16]:
data = data[data['Indicator'] == 'Getting electricity: Cost']
data.index=data['Country Name']
data = data[['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']]
data

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country Name,,,,,,,,,,,,,
Afghanistan,NaN,618.2,6179.7,2917.8,2550.7,2368.5,2084.0,2124.0,2274.7,2426.7,2448.3,2546.4,NaN
Angola,NaN,1098.0,1276.6,888.5,755.8,690.5,660.7,615.7,1196.5,989.9,786.5,623.3,NaN
Albania,NaN,614.5,614.9,585.6,573.7,543.3,474.0,499.8,515.5,513.0,504.7,448.6,NaN
United Arab Emirates,NaN,17.3,22.1,22.1,19.3,24.8,24.2,23.5,24.7,25.2,0.0,0.0,NaN
Argentina,NaN,45.7,46.3,37.6,32.0,37.3,41.9,24.9,32.2,24.5,21.0,15.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,NaN,901.6,881.9,857.1,790.8,783.6,735.9,623.3,641.9,615.2,615.1,601.8,NaN
"Yemen, Rep.",NaN,5024.5,4973.4,4569.8,3921.2,3604.0,3492.6,3492.6,NaN,NaN,NaN,NaN,NaN
South Africa,NaN,874.8,950.1,874.2,797.1,758.0,729.5,161.4,175.5,165.4,156.7,158.4,NaN
Zambia,NaN,298.3,281.6,281.7,246.1,183.9,4119.7,3063.3,2877.2,2767.5,2329.1,2035.6,NaN
Zimbabwe,NaN,6966.0,6166.6,4415.9,3278.8,3365.3,2992.8,2925.0,2957.9,2602.6,2631.5,1400.6,NaN

In [20]:
data.loc['World'] = data.mean()
data

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country Name,,,,,,,,,,,,,
Afghanistan,NaN,618.200000,6179.700000,2917.800000,2550.700000,2368.500000,2084.000000,2124.000000,2274.700000,2426.70000,2448.300000,2546.400000,NaN
Angola,NaN,1098.000000,1276.600000,888.500000,755.800000,690.500000,660.700000,615.700000,1196.500000,989.90000,786.500000,623.300000,NaN
Albania,NaN,614.500000,614.900000,585.600000,573.700000,543.300000,474.000000,499.800000,515.500000,513.00000,504.700000,448.600000,NaN
United Arab Emirates,NaN,17.300000,22.100000,22.100000,19.300000,24.800000,24.200000,23.500000,24.700000,25.20000,0.000000,0.000000,NaN
Argentina,NaN,45.700000,46.300000,37.600000,32.000000,37.300000,41.900000,24.900000,32.200000,24.50000,21.000000,15.500000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Yemen, Rep.",NaN,5024.500000,4973.400000,4569.800000,3921.200000,3604.000000,3492.600000,3492.600000,NaN,NaN,NaN,NaN,NaN
South Africa,NaN,874.800000,950.100000,874.200000,797.100000,758.000000,729.500000,161.400000,175.500000,165.40000,156.700000,158.400000,NaN
Zambia,NaN,298.300000,281.600000,281.700000,246.100000,183.900000,4119.700000,3063.300000,2877.200000,2767.50000,2329.100000,2035.600000,NaN
Zimbabwe,NaN,6966.000000,6166.600000,4415.900000,3278.800000,3365.300000,2992.800000,2925.000000,2957.900000,2602.60000,2631.500000,1400.600000,NaN
World,NaN,2317.595082,2249.408743,2055.728649,1792.396296,1654.208995,1512.738095,1400.056614,1390.949462,1332.01828,1136.970588,1047.011765,NaN

In [21]:
select_countries = data[data.index.isin(['World', 'China', 'India', 'United Kingdom', 'United States', 'Germany'])]
select_countries

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country Name,,,,,,,,,,,,,
China,NaN,835.700000,755.200000,640.900000,547.000000,499.200000,459.200000,413.100000,390.200000,355.80000,0.000000,0.000000,NaN
Germany,NaN,50.600000,51.900000,49.900000,48.300000,46.900000,44.400000,42.000000,40.800000,40.20000,38.500000,37.000000,NaN
United Kingdom,NaN,72.800000,74.700000,141.800000,138.700000,91.900000,29.200000,26.700000,25.800000,24.90000,23.900000,23.100000,NaN
India,NaN,24.800000,20.900000,14.000000,14.200000,19.200000,15.100000,13.700000,13.100000,11.60000,10.400000,8.600000,NaN
United States,NaN,16.800000,16.900000,16.800000,16.100000,15.600000,14.600000,14.100000,14.000000,13.60000,13.100000,12.400000,NaN
World,NaN,2317.595082,2249.408743,2055.728649,1792.396296,1654.208995,1512.738095,1400.056614,1390.949462,1332.01828,1136.970588,1047.011765,NaN

In [23]:
inflation_data = pd.read_csv('Inflation_Data.csv')
inflation_data.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]'],
      dtype='object')

In [24]:
inflation_data.index=inflation_data['Country Name']
inflation_data = inflation_data[['2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]']]
inflation_data.columns = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
inflation_data.dropna(inplace=True)
inflation_data

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Name,,,,,,,,,,,,,,
World,8.952970,2.936232,3.354758,4.822396,3.725327,2.621050,2.346269,1.434318,1.550016,2.192010,2.438737,2.206073,1.905664,3.42362947609175
Germany,2.628382,0.312738,1.103809,2.075175,2.008491,1.504721,0.906798,0.514421,0.491749,1.509497,1.732168,1.445667,0.506690,3.14296967309964
India,8.349267,10.882353,11.989390,8.858361,9.312446,11.063675,6.649500,4.906973,4.948216,3.328173,3.945069,3.723276,6.623437,..
China,5.925251,-0.728165,3.175325,5.553899,2.619524,2.621050,1.921642,1.437024,2.000002,1.593136,2.074790,2.899234,2.419422,0.981015135544851
United Kingdom,3.521409,1.961732,2.492655,3.856112,2.573235,2.291667,1.451120,0.368047,1.008417,2.557756,2.292840,1.738105,0.989487,2.51837109614205
United States,3.839100,-0.355546,1.640043,3.156842,2.069337,1.464833,1.622223,0.118627,1.261583,2.130110,2.442583,1.812210,1.233584,4.69785886363739